<div class="col-xs-12">
    <h2>Currículos</h2><br/>
</div>

<div class="col-xs-12">
    <div class="alert alert-danger" ng-show="mensagem !== ''">
        {{mensagem}}
    </div>

    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li class="active"><a href="#/dados-basicos" data-toggle="tab" id="lnkDadBas">Dados Básicos</a></li>
        <li><a href="#/experiencia-profissional" data-toggle="tab" id="lnkExpPro">Experiência Profissional</a></li>
        <li><a href="#/formacao-academica" data-toggle="tab" id="lnkForAca">Formação Acadêmica</a></li>
        <li><a href="#/idiomas" data-toggle="tab" id="lnkIdi">Idiomas</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="dadosBasicos">
            <br/>
       
            <form>
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadNom">Nome</label>
                    <div class="col-sm-5">
                        <input type="text" ng-model="usuario.nome" class="form-control" maxlength="50" size="30" id="cadNom" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadEma">Email</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="usuario.email" class="form-control" size="45" maxlength="45" id="cadEma" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadDtN">Data Nascimento</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" ng-model="usuario.dataNascimento" class="form-control dataField" size="10" maxlength="10" id="cadDtN" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Sexo</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{usuario.sexo == 'M' ? 'active' : ''}}" ng-click="usuario.sexo = 'M'">
                                <input type="radio" name="sxo"/> Masculino
                            </label>
                            <label class="btn btn-default {{usuario.sexo == 'F' ? 'active' : ''}}" ng-click="usuario.sexo = 'F'">
                                <input type="radio" name="sxo"/> Feminino
                            </label>
                        </div>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadEstCiv">Estado Civil</label>
                    <div class="col-sm-4 col-md-3">
                        <select ng-model="usuario.estadoCivil" ng-options="estadoCivil.descricao for estadoCivil in listaEstadoCivil" class="form-control" id="cadEstCiv">
                        </select>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadFil">Qtd Filhos</label>
                    <div class="col-sm-2 col-md-1">
                        <input type="text" class="form-control numberField" size="2" maxlength="2" ng-model="usuario.qtdFilhos" id="cadFil" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Possui Habilitação?</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{ usuario.carteiraHabilitacao == habilitacao ? 'active' : ''}}" ng-click="usuario.carteiraHabilitacao=habilitacao" ng-repeat="habilitacao in listaHabilitacao">
                                <input type="radio" name="hab" value="{{habilitacao}}"/> {{habilitacao}}
                            </label>
                        </div>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Fumante?</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{usuario.fumante == 'S' ? 'active' : ''}}" ng-click="usuario.fumante='S'">
                                <input type="radio" name="fum"/> Sim
                            </label>
                            <label class="btn btn-default {{usuario.fumante == 'N' ? 'active' : ''}}" ng-click="usuario.fumante='N'">
                                <input type="radio" name="fum"/> Não
                            </label>
                        </div>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Veículo Próprio?</label>
                    <div class="col-sm-9 col-md-10">
                        <div class="btn-group" data-toggle="buttons">
                            <label class="btn btn-default {{usuario.veiculoProprio == 'S' ? 'active' : ''}}" ng-click="usuario.veiculoProprio='S'">
                                <input type="radio" name="vei"/> Sim
                            </label>
                            <label class="btn btn-default {{usuario.veiculoProprio == 'N' ? 'active' : ''}}" ng-click="usuario.veiculoProprio='N'">
                                <input type="radio" name="vei"/> Não
                            </label>
                        </div>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadPre">Pretensão Salarial</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" class="form-control" size="17" maxlength="17" ng-model="usuario.pretensaoSalarial" id="cadPre" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadEst">Estado</label>
                    <div class="col-sm-2 col-md-1">
                        <input type="text" class="form-control uppercase" size="2" maxlength="2" ng-model="usuario.estado" id="cadEst" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadCid">Cidade</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" class="form-control" size="45" maxlength="45" ng-model="usuario.cidade" id="cadCid" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadEnd">Endereço</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" class="form-control" size="45" maxlength="45" ng-model="usuario.endereco" id="cadEnd" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadCom">Complemento</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" class="form-control" size="45" maxlength="45" ng-model="usuario.complemento" id="cadCom" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadBai">Bairro</label>
                    <div class="col-sm-4 col-md-3">
                        <input type="text" class="form-control" size="45" maxlength="45" ng-model="usuario.bairro" id="cadBai" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadCep">CEP</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" class="form-control cepField" size="9" maxlength="9" ng-model="usuario.cep" id="cadCep" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadTRes">Fone Residencial</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" class="form-control foneField" size="12" maxlength="12" ng-model="usuario.telefoneResidencial" id="cadTRes" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadTCom">Fone Comercial</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" class="form-control foneField" size="12" maxlength="12" ng-model="usuario.telefoneComercial" id="cadTCom" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2" for="cadCel">Celular</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" class="form-control foneField" size="12" maxlength="12" ng-model="usuario.telefoneCelular" id="cadCel" />
                    </div>
		</div>

                <br/>
                <div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2"> </label>
                    <div class="col-xs-12 col-sm-2">
                        <button class="btn btn-default col-xs-12" ng-click="salvar(usuario)">Salvar</button>
                    </div>
                </div>
	
                <div class="clearfix"></div><br/>
            </form>
        </div>
    </div>
</div>