<div class="col-xs-12">
    <h2>Currículos</h2><br/>
</div>

<div class="col-xs-12">
    <div class="alert alert-danger" ng-show="mensagem !== ''">
        {{mensagem}}
    </div>
    
    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li><a href="#/dados-basicos" data-toggle="tab" id="lnkDadBas">Dados Básicos</a></li>
        <li><a href="#/experiencia-profissional" data-toggle="tab" id="lnkExpPro">Experiência Profissional</a></li>
        <li class="active"><a href="#/formacao-academica" data-toggle="tab" id="lnkForAca">Formação Acadêmica</a></li>
        <li><a href="#/idiomas" data-toggle="tab" id="lnkIdi">Idiomas</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="formacaoAcademica">
            <br/>
            
            <div class="col-xs-12" ng-hide="formAtivo">
                
                <button ng-click="novo()" class="btn btn-success">Incluir Novo</button><br/><br/>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Nome instituição</th>
                            <th>Tipo formação</th>
                            <th>Área formação</th>
                            <th>Status formação</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{item.nomeInstituicao}}</td>
                            <td>{{item.tipoFormacao.descricao}}</td>
                            <td>{{item.areaFormacao.descricao}}</td>
                            <td>{{item.statusFormacao.descricao}}</td>
                            <td><button ng-click="selecionar(item)" class="btn btn-default">Editar</button> <a href="" ng-click="excluir(item)" class="btn btn-default text-danger">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form ng-show="formAtivo">
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Nome instituição</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="formacao.nomeInstituicao" class="form-control uppercase" maxlength="45" size="30" id="cadEmp" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Tipo formação</label>
                    <div class="col-sm-4">
                        <select ng-model="formacao.tipoFormacao" ng-options="tipoFormacao.descricao for tipoFormacao in listaTipoFormacao" class="form-control"></select>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Área formação</label>
                    <div class="col-sm-4">
                        <select ng-model="formacao.areaFormacao" ng-options="areaFormacao.descricao for areaFormacao in listaAreaFormacao" class="form-control">
                            <option value="">Selecione</option>
                        </select>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Status formação</label>
                    <div class="col-sm-3 col-md-2">
                        <select ng-model="formacao.statusFormacao" ng-options="statusFormacao.descricao for statusFormacao in listaStatusFormacao" class="form-control"></select>
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Período atual</label>
                    <div class="col-sm-2 col-md-1">
                        <input type="text" ng-model="formacao.periodoAtual" class="form-control" numbers-only="numbers-only" maxlength="2" size="2" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Mês/Ano conclusão</label>
                    <div class="col-sm-3 col-md-2">
                        <input type="text" ng-model="formacao.mesAnoConclusao" class="form-control mesAnoField" maxlength="7" size="7" />
                    </div>
		</div>

                <br/>
                <div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2"> </label>
                    <div class="col-xs-12 col-sm-2">
                        <button class="btn btn-default col-xs-12" ng-click="salvar(experiencia)">Salvar</button>
                        <button class="btn btn-default col-xs-12" ng-click="cancelar(experiencia)">Cancelar</button>
                    </div>
                </div>
	
                <div class="clearfix"></div><br/>
            </form>
        </div>
    </div>
</div>
<script>
    ;
    (function($) {
        $(".mesAnoField").mask("99/9999");
    })(jQuery);
</script>