<div class="col-xs-12">
    <h2>Currículos</h2><br/>
</div>

<div class="col-xs-12">

    <div class="alert alert-danger" ng-show="mensagem !== ''">
        {{mensagem}}
    </div>
    
    <ul id="myTab" class="nav nav-tabs nav-justified">
        <li><a href="#/dados-basicos" data-toggle="tab" id="lnkDadBas">Dados Básicos</a></li>
        <li><a href="#/experiencia-profissional" data-toggle="tab" id="lnkExpPro">Experiência Profissional</a></li>
        <li><a href="#/formacao-academica" data-toggle="tab" id="lnkForAca">Formação Acadêmica</a></li>
        <li class="active"><a href="#/idiomas" data-toggle="tab" id="lnkIdi">Idiomas</a></li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active in" id="idioma">
            <br/>
            
            <div class="col-xs-12" ng-hide="formAtivo">
                
                <button ng-click="novo()" class="btn btn-success">Incluir Novo</button><br/><br/>
                
                <table class="table">
                    <thead>
                        <tr>
                            <th>Idioma</th>
                            <th>Nível</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="item in items">
                            <td>{{item.nome}}</td>
                            <td>{{item.nivelIdioma.descricao}}</td>
                            <td><button ng-click="selecionar(item)" class="btn btn-default">Editar</button> <a href="" ng-click="excluir(item)" class="btn btn-default text-danger">Excluir</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>

            <form ng-show="formAtivo">
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Idioma</label>
                    <div class="col-sm-4">
                        <input type="text" ng-model="idioma.nome" class="form-control uppercase" maxlength="45" size="30" />
                    </div>
		</div>
		
		<div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2">Nível idioma</label>
                    <div class="col-sm-4">
                        <select ng-model="idioma.nivelIdioma" ng-options="nivelIdioma.descricao for nivelIdioma in listaNivelIdioma" class="form-control"></select>
                    </div>
		</div>
		
                <br/>
                <div class="form-group col-xs-12">
                    <label class="col-sm-3 col-md-2"> </label>
                    <div class="col-xs-12 col-sm-2">
                        <button class="btn btn-default col-xs-12" ng-click="salvar(idioma)">Salvar</button>
                        <button class="btn btn-default col-xs-12" ng-click="cancelar(idioma)">Cancelar</button>
                    </div>
                </div>
	
                <div class="clearfix"></div><br/>
            </form>
        </div>
    </div>
</div>