html, body, h1, h2, h3, h4, h5, h6, hr {
    margin: 0;
    padding: 0;
}

body {
    background: url('../img/bg_body.jpg');
}

a, a:hover, a:active {
    color: #333;
}

img {
    width: 100%;
}

li {
    list-style: none;
}

#site-header {
    background: #440044 url('../img/bg_topo.jpg') repeat-x;
    height: 219px;
    padding-top: 45px;
}

#site-header h1 {
    background: url("../img/logo_alfa.png") no-repeat; text-indent: -9999px; font-size: 1px; width: 211px; height: 65px; margin: 0 auto 44px 
}


#site-content {
    background: #fff;
    padding-top: 25px;
}

#menu-header, #menu-mobile {
    background: #606;
    border-bottom: solid 6px #fff;
}

#menu-header li {
    display: inline;
}

#menu-header li a, #menu-mobile li a {
    margin: 10px 10px 10px 0;
    padding: 10px 10px;
    
    color: #fff;
    float: left;
}

#menu-mobile li {
    display: block;
}
#menu-mobile li a {
    float: none;
    display: block;
}

#menu-header li a:hover,  #menu-mobile li a:hover {
    color: #606;
    background: #fff;
}

#site-footer {
    background: #fff;
    padding-top: 25px;
}

#site-footer header {
    padding: 5px 10px;
    margin-bottom: 15px;
    background: #606;
    color: #fff;
}

.bold {
    font-weight: bold;
}

.roxo {
    color: #606;
}

.noticias {
    margin: 0 !important;
    padding: 0 !important;
}

.noticias li {
    margin: 0;
    padding: 0 0 25px 0;
}

.noticias h5 {
    font-weight: bold;
    color: #606;
}


.navbar-default {
    background: #606;
    border: none;
    border-radius: 0;
}

.navbar-default a {
    color: #fff !important
}


.uppercase {
	text-transform: uppercase;
}


/** bootstrap */
.panel-primary {border-color: #606; }
.panel-primary .panel-heading {background: #606; border-color: #606}